nav {
    background-color: #0F0E0E;
    color: #EEEEEE;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

a:hover {
    color: #8B9A46;
}

li {
    list-style: none;
}